/* The side navigation menu */
body{
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FB6542; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.jumbotron{
  height: 100px;
  padding-top: 20px;
  font-weight: bold;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}
#menu1{
  opacity: 0;
  transition: 2s;
}
#menu2{
  opacity: 0;
  transition: 2s;
}
#menu3{
  opacity: 0;
  transition: 2s;
}
#menu4{
  opacity: 0;
  transition: 2s;
}
#menu5{
  opacity: 0;
  transition: 2s;
}
#menu6{
  opacity: 0;
  transition: 2s;
}
#menu7{
  opacity: 0;
  transition: 2s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bg-1{
background: linear-gradient(transparent, transparent), url(background-m-yunus.jpg);
background-position: center;
opacity: 0.65;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

width: 100%;
height: 700px;
font-family: Impact, Charcoal, sans-serif;
}
.bg-2{
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 10%;
  width: auto;
  color: #ffffff;
  background: url(img/zigzag-pattern.jpeg);
  background-repeat: round;
}
.bg-berita{
  background: url(background-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-HotNews{
  background: url(background-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
  height: 300px;
}
.jumbotron{
  text-align: center;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}
@media (min-width: 992px){
  .bg-1{
  }
}
