.table-biodata>tbody>tr>td:nth-child(even) {
    text-align: left;
}

.table-biodata>tbody>tr>td:nth-of-type(odd)>* {
    text-align: right;
}
.non-racikan>td>input,
.non-racikan>td>select,
.nonracikbtn {
    color: green;
}

.racikan>td>input,
.racikan>td>select,
.racikbtn {
    color: maroon;
}

.komponen>td>input,
.komponen>td>select,
.komponenbtn {
    color: blue;
}

.racikan>td,
.komponen>td {
    background-color: #cfe2f2;
}

.non-racikan>td {
    background-color: #cff2d9;
}

.copybtn {
    color: green;
}

.edit-transparent-btn {
    color: #006fd2;
}

.select2-full-width{
    width: 100%;
}